/* Custom styles for widget titles */
.widget-title {
    font-size: 24px;
    color: #0073e6;
}

/* Custom styles for widget content */
.widget-content {
    font-size: 16px;
    color: #333;
}

.logo-container {
    position: absolute;
    top: 20px; /* Adjust this value to set the vertical position */
    right: 20px; /* Adjust this value to set the horizontal position */
    width: 300px; /* Adjust the width as needed */
    background: #f9f9f9; /* Set the background color */
    padding: 20px; /* Add padding to the container */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a box shadow */
}

.logo-container img {
    max-width: 100px; /* Adjust the max width for the logo preview */
    display: block; /* Prevent spacing below the image */
}

.logo-container p {
    margin: 0; /* Remove margin for p elements to align text and inputs */
}

.logo-container input[type="text"] {
    width: 100%; /* Expand input width to container width */
}

.button-primary, #choose-logo {
    background-color: #0073e6;
    border-color: #0073e6;
    color: #fff;
    cursor: pointer;
}

.button-primary:hover, #choose-logo:hover {
    background-color: #006799;
    border-color: #006799;
}